/********** Template CSS **********/
:root {
    --primary: #06A3DA;
    --secondary: #34AD54;
    --light: #EEF9FF;
    --dark: #091E3E;
}


/*** Spinner ***/
.spinner {
    width: 40px;
    height: 40px;
    background: var(--primary);
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 700 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 600 !important;
}


/*** Button ***/
.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn-primary,
.btn-secondary {
    color: #FFFFFF;
    box-shadow: inset 0 0 0 50px transparent;
}

.btn-primary:hover {
    box-shadow: inset 0 0 0 0 var(--primary);
}

.btn-secondary:hover {
    box-shadow: inset 0 0 0 0 var(--secondary);
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 30px;
    height: 30px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}


/*** Navbar ***/
.navbar-dark .navbar-nav .nav-link-black {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}


.navbar-dark .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-left: 25px;
    padding: 35px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-dark .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar-dark .navbar-brand h1 {
    color: #FFFFFF;
}

.navbar-dark .navbar-toggler {
    color: var(--primary) !important;
    border-color: var(--primary) !important;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-dark {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.show,
    .sticky-top.navbar-dark .navbar-nav .nav-link {
        padding: 10px 0;
        color: white;
    }

    .navbar-dark .navbar-brand h1 {
        /* color: var(--primary); */
    }
}



@media (min-width: 992px) {
    .navbar-dark {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-dark {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-dark .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-dark .navbar-nav .nav-link:hover::before,
    .navbar-dark .navbar-nav .nav-link.active::before {
        width: 100%;
        left: 0;
    }

    .navbar-dark .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }

    .sticky-top.navbar-dark .navbar-brand h1 {
        color: var(--primary);
    }
}


/*** Carousel ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(9, 30, 62, .7); */
    z-index: 1;
}

@media (max-width: 576px) {
    .carousel-caption h5 {
        font-size: 14px;
        font-weight: 500 !important;
    }

    .carousel-caption h1 {
        font-size: 30px;
        font-weight: 600 !important;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


/*** Section Title ***/
.section-title::before {
    position: absolute;
    content: "";
    width: 150px;
    height: 5px;
    left: 0;
    bottom: 0;
    background: var(--primary);
    border-radius: 2px;
}

.section-title.text-center::before {
    left: 50%;
    margin-left: -75px;
}

.section-title.section-title-sm::before {
    width: 90px;
    height: 3px;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 5px;
    bottom: 0px;
    background: #FFFFFF;
    -webkit-animation: section-title-run 5s infinite linear;
    animation: section-title-run 5s infinite linear;
}

.section-title.section-title-sm::after {
    width: 4px;
    height: 3px;
}

.section-title.text-center::after {
    -webkit-animation: section-title-run-center 5s infinite linear;
    animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
    -webkit-animation: section-title-run-sm 5s infinite linear;
    animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
    0% {left: 0; } 50% { left : 145px; } 100% { left: 0; }
}

@-webkit-keyframes section-title-run-center {
    0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
    0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}


/*** Service ***/
.service-item {
    position: relative;
    height: 300px;
    padding: 0 30px;
    transition: .5s;
}

.service-item .service-icon {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 2px;
    transform: rotate(-45deg);
}

.service-item .service-icon i {
    transform: rotate(45deg);
}

.service-item a.btn {
    position: absolute;
    width: 60px;
    bottom: -48px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
}

.service-item:hover a.btn {
    bottom: -24px;
    opacity: 1;
}


/*** Testimonial ***/
.testimonial-carousel .owl-dots {
    margin-top: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    background: #DDDDDD;
    border-radius: 2px;
    /* transition: .5s; */
}

.testimonial-carousel .owl-dot.active {
    width: 30px;
    background: var(--primary);
}

.testimonial-carousel .owl-item.center {
    position: relative;
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-item {
    /* transition: .5s; */
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: #FFFFFF !important;
    box-shadow: 0 0 30px #DDDDDD;
}


/*** Team ***/
/* .team-item {
    transition: .5s;
}

.team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.team-social a.btn {
    position: relative;
    margin: 0 3px;
    margin-top: 100px;
    opacity: 0;
}

.team-item:hover {
    box-shadow: 0 0 30px #DDDDDD;
}

.team-item:hover .team-social {
    background: rgba(9, 30, 62, .7);
}

.team-item:hover .team-social a.btn:first-child {
    opacity: 1;
    margin-top: 0;
    transition: .3s 0s;
}

.team-item:hover .team-social a.btn:nth-child(2) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .05s;
}

.team-item:hover .team-social a.btn:nth-child(3) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .1s;
}

.team-item:hover .team-social a.btn:nth-child(4) {
    opacity: 1;
    margin-top: 0;
    transition: .3s .15s;
}

.team-item .team-img img,
.blog-item .blog-img img  {
    transition: .5s;
}

.team-item:hover .team-img img,
.blog-item:hover .blog-img img {
    transform: scale(1.15);
} */


/*** Miscellaneous ***/
@media (min-width: 991.98px) {
    .facts {
        position: relative;
        margin-top: -75px;
        z-index: 1;
    }
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bg-header {
    background: linear-gradient(rgba(9, 30, 62, .7), rgba(9, 30, 62, .7)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.link-animated a {
    transition: .5s;
}

.link-animated a:hover {
    padding-left: 10px;
}

@media (min-width: 767.98px) {
    .footer-about {
        margin-bottom: -75px;
    }
}







.table-responsive {
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(45,82,102,1) 15%, rgba(10,4,9,0.7792366946778712) 100%);
    overflow-x: auto;
    border-radius: 20px;
    /* background-color: #f3f3f3; */
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
   
  }
  .table th{
    color: #fff;
  }
  

  .table th,
  .table td {
    padding: 1.75rem;
    font-weight: 300;
    vertical-align: top;
    border-top: 1px solid #ffffff;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #ffffff;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #ffffff;
  }
  
  .table .table {
    background-color: #fff;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
  }
  
  .fa-check,
  .fa-times {
    /* font-size: 1.2em; */
  }
  
  .text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  
  .fa-check::before {
    content: "\f00c";
  }
  
  .fa-times::before {
    content: "\f00d";
  }
  


  




  .login-popup{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1099;
	background-color:rgba(0,0,0,0.6);
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease;
}
.login-popup.show{
	visibility:visible;
	opacity: 1;
}
.login-popup .box{
	background-color:#ffffff;
	width: 750px;
	position: absolute;
	left: 50%;
    border-radius: 16px;    
	top:50%;
	transform:translate(-50%,-50%);
	display: flex;
	flex-wrap: wrap;
	opacity: 0;
	margin-left: 50px;
	transition: all 1s ease;

}
.login-popup.show .box{
	opacity: 1;
	margin-left: 0;
}
.login-popup .box .img-area{
	flex:0 0 50%;
	max-width: 50%;
	position: relative;
	overflow: hidden;
	padding:30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.login-popup .box .img-area h1{
	font-size: 30px;
}
.login-popup .box .img-area .img{
	/* position: absolute; */
	left:0;
	top:0;
	/* width: 100%;
	height: 100%; */
	background-image: url('img/dazzle (1).png');
	background-size: cover;
	background-position: center;
	
	z-index: -1;

}
@keyframes zoomInOut{
	0%,100%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.1);
	}
}
.login-popup .box .form{
	flex:0 0 50%;
	max-width: 50%;
    /* flex: auto; */
    width: 259px;
	padding:40px 30px;
}

.login-popup .box .form h1{
	color:#000000;
	font-size: 30px;
	margin:0 0 30px;
}

.login-popup .box .form label{
	font-size: 15px;
	color:#555555;
}
.login-popup .box .form .btn{
	width: 100%;
	background-color: #06A3DA;
	margin-top:40px;
	height: 45px;
	border:none;
	border-radius: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color:#ffffff;
	cursor: pointer;
}
.login-popup .box .form .btn:focus{
	outline: none;
}

.login-popup .box .form .close{
	position: absolute;
	right: 10px;
	top:0px;
	font-size: 30px;
	cursor: pointer;
}

/*responsive*/
@media(max-width: 767px){
	.login-popup .box{
		width: calc(100% - 30px);
	}
	.login-popup .box .img-area{
		display: none;
	}
	.login-popup .box .form{
		flex: 0 0 100%;
        max-width: 100%;
	}
}





.newsletter
 {
    /* background:
        url(https://cdn-ru.bitrix24.ru/b5391009/landing/f39/f393fef173d818d6fb9dbdc6db775624/img_photo_back_2x.jpg),
        url(https://cdn-ru.bitrix24.ru/b5391009/landing/f39/f393fef173d818d6fb9dbdc6db775624/img_photo_back_2x.jpg);
    background-position:
        left top,
        right bottom;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 30px !important; */
}
.newsletter{
    width: 94%;
    border-radius: 50px;
}







#portfolio-flters .btn {
    position: relative;
    display: inline-block;
    margin: 10px 4px 0 4px;
    transition: .5s;
}

#portfolio-flters .btn::after {
    position: absolute;
    content: "";
    right: -1px;
    bottom: -1px;
    border-left: 20px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 50px solid #FFFFFF;
}

#portfolio-flters .btn:hover,
#portfolio-flters .btn.active {
    color: var(--light);
    background: var(--primary);
}

.portfolio-overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    background: var(--primary);
    transition: .5s;
    z-index: 1;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-item .btn {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://demo.htmlcodex.com/2059/seo-agency-website-template/img/portfolio-2.jpg) center center no-repeat;
    border: none;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}

.portfolio-item:hover .btn {
    opacity: 1;
    transition-delay: .15s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: spin 50s linear infinite; /* Adjust the duration and timing function as needed */
}








  
  :root {
    /* --dark: #2e2a27;
    --light: #e8e2da; */
  }
/*   
  body {
    background-color: var(--dark);
    color: var(--light);
    font-family: Monotype helvetica now display, sans-serif;
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.6;
  }
  
  h1 {
    letter-spacing: -.04em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12.08em;
    font-weight: 700;
    line-height: .8;

    
  } */
/*   
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.3em;
    font-weight: 700;
    line-height: 1.4;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.7em;
    font-weight: 700;
    line-height: 1.4;
  }
  
  h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.4;
  }
  
  h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.4;
  }
  
  h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: .85em;
    font-weight: 700;
    line-height: 1.4;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
  }
  
  a {
    font-size: 1em;
    text-decoration: none;
  } */
  
  blockquote {
    /* border-left: .4em solid #e2e2e2;
    margin-bottom: 1em;
    padding: 1em 2em;
    font-size: 140%;
    line-height: 1.6; */
  }
  
  .container {
    /* width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 2.08em; */
  }
  
  .container.is--nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
  }
  
  .container.is--header {
    text-align: center;
    padding-top: 8.78em;
    padding-bottom: 8.78em;
     font-size: 1vw;
    font-weight: 500;
    line-height: 1.6;
  }
  
  .container.is--categories {
    padding-top: 6.18em;
    padding-bottom: 6.18em;
  }
  
  .container.is--grid {
    padding-bottom: 0;
  }
  
  .html {
    /* width: 0;
    height: 0;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    overflow: hidden; */
  }
  
  .section.is--nav {
    z-index: 1000;
    background-color: var(--dark);
    margin-top: -1px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .section.is--hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }
  
  .section.is--grid {
    z-index: 1;
    position: relative;
  }
  
  .section.is--catories {
    z-index: 2;
    position: relative;
  }
  
  .nav_side {
    z-index: 2;
    width: 19em;
    text-transform: uppercase;
    position: relative;
  }
  
  .nav_side.is--right {
    justify-content: flex-end;
    align-items: center;
    display: flex;
  }
  
  .nav_logo {
    width: 11.61em;
    position: absolute;
  }
  
  .nav_logo.is--larger {
    width: 100em;
  }
  
  .nav_logo-img {
    width: 100%;
  }
  
  .nav_logo-img.is-larger {
    transform: translate(0, -90px);
  }
  
  .nav_link {
    text-transform: uppercase;
    padding-right: .89em;
  }
  
  .nav_link:hover {
    text-decoration: underline;
  }
  
  .hero_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .nav_top {
    z-index: 1;
    width: 100%;
    min-height: 6em;
    border-bottom: 1px solid var(--light);
    justify-content: space-between;
    align-items: center;
    padding-top: 2.08em;
    padding-bottom: 2.08em;
    display: flex;
    position: relative;
  }
  
  .header_text-move.is--last {
    padding-bottom: 2.4em;
  }
  
  .header_text-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .is--alt-text {
    font-family: Monotype helvetica now display lt it, sans-serif;
    font-weight: 400;
  }
  
  .sticky-circle {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 6em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  
  .sticky-circle_element {
    width: 35em;
    height: 35em;
    border-radius: 35em;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
  }
  
  .sticky-circle_img {
    width: 100vw;
    height: 100vh;
    max-width: none;
    min-height: 100vh;
    min-width: 100vw;
    object-fit: cover;
    position: relative;
  }
  
  .sticky-circle_wrap {
    height: 300vh;
  }
  
  .categories {
    width: 82em;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .categories_link {
    border-radius: 100vw;
    margin: .4em;
    padding: .6em 1.82em;
    position: relative;
  }
  
  .categories_link-text {
    z-index: 2;
    font-size: 3.96em;
    line-height: .8;
    position: relative;
  }
  
  .categories_border {
    z-index: 1;
    border: 1px solid var(--light);
    opacity: .35;
    border-radius: 100vw;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .grid_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .grid_item {
    padding: .36em;
  }
  
  .grid_element {
    width: 100%;
    padding-top: 131%;
    position: relative;
  }
  
  .grid_list {
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 3.6em;
    display: flex;
  }
  
  .grid_wrapper {
    z-index: 2;
    position: relative;
  }
  
  .grid_wrapper.is--alt {
    padding-bottom: 23.7em;
  }
  
  .grid_text-wrap {
    z-index: 1;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: -50vh;
    padding-bottom: 2.08em;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  
  .grid_text-title {
    letter-spacing: -.04em;
    font-size: 21.88em;
    font-weight: 700;
    line-height: .8;
    position: relative;
  }
  
  .nav_logo-contain {
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .grid_text-list {
    margin-left: -.5em;
    position: relative;
  }
  
  .grid_text-item {
    opacity: 0;
    font-size: 1em;
    transition: opacity .1s;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: auto;
  }
  
  .heading {
    transform: translate(0);
  }
  
  /* @media screen and (max-width: 991px) {
    .container {
      padding-left: 3em;
      padding-right: 3em;
    }
  } */
  
  @font-face {
    font-family: 'Monotype helvetica now display';
    src: url('https://uploads-ssl.webflow.com/657bd9eca9a9393d78beb38d/657bd9eca9a9393d78beb46b_Monotype%20%20-%20Helvetica%20Now%20Display%20Bold.otf') format('opentype'), url('https://uploads-ssl.webflow.com/657bd9eca9a9393d78beb38d/657bd9eca9a9393d78beb46a_Monotype%20%20-%20Helvetica%20Now%20Display%20XBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Monotype helvetica now display lt it';
    src: url('https://uploads-ssl.webflow.com/657bd9eca9a9393d78beb38d/657bd9eca9a9393d78beb468_Monotype%20%20-%20Helvetica%20Now%20Display%20Lt%20It.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Monotype helvetica now display';
    src: url('https://uploads-ssl.webflow.com/657bd9eca9a9393d78beb38d/657bd9eca9a9393d78beb469_Monotype%20%20-%20Helvetica%20Now%20Display%20Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }















  























  